foo* {
  padding: 0;
  margin: 0;
}
/* body{
     background-color: rgb(238, 238, 238);
} */

a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,p,a{
    -webkit-font-smoothing: antialiased !important;
    font-family: "Proxima Nova","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-weight: 500!important;
    line-height: 1.1!important;
}

/*------------------------------------header--------------------------*/
header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 900;

}

.franja{
    width: 100%;
    height: 2em;
    background-color:black;
    color:white;
    text-align: center;
}
.franja h2{
    font-size:1em;
    /*font-family: system-ui;    */
    width: 100%;
}
.Home{
    position: flex;
    float: right;

    margin-right:1em;
    height:6em;
 
}
.Home img{
    position:relative;
    top:50%;
    transform: translateY(-50%);
    width:2em;
    height:2em;
    margin-right:1em;
}
.text-white{
    color:#000002!important;
}
.navbar-toggler{
    background-color: #000002!important;
    margin-left:1em;
}
.navbar-toggler-icon{
    color:#f7ffc4!important;
}
.bg-dark {
    background-color: #f7ffc4!important;
}
.ImgHeader
{
    position: relative;
    height:4.5em ;
    width:12em;
/*     right: 50%;
    transform: translate(50%) */
}
.menu{
    /*visibility: hidden;*/
    display: none;
    width:fit-content;
}
.inputBuscar{
    position:flex;
    float:right;
    display:none;
}
.cerrarSesion{
    position:relative;
    bottom:1.8em;
    color:black;
     float: right;
    margin-right:2em;
  }
/*------------------------------------buscar------------------------------*/
.header-top{
    position:relative;
    top:-2em;
    width: 100%;
    background-color: #f7ffc4;
    float:right;
    display: none;
}

.navegacion{
    position:relative;
    width: 100%;
/*    max-width: 1000px;*/
    padding:12px 0;
    float:right
    /* margin-right: 1em; */
}

input[type="search"]{
    padding: 10px;
    padding-right: 3.5em;
    border: none;
    float: right;
}


.search{
    position:relative;
    top:-2em;
    left:50%;
    transform:translateX(-50%);    
    width: 50%;
    max-width: 1000px;
    margin: auto;
    background: #fff;
    padding:0 10px;
    padding-bottom: 5px;
    max-height: 85%;
    overflow-x: hidden;
    display: none;

}

.search-table{
    width: 100%;
}

tbody tr td{
    width: 100%;
}

tbody tr td a{
    text-decoration: none;
    font-size: 18px;
    color: #737373;
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    padding-left: 20px;
    border: 2px solid #fff;
}

tbody tr td a:hover{
    border: 2px solid #378FD9;
}

.search::-webkit-scrollbar{ 
    background:rgba(0,0,0,0);  
}

.search::-webkit-scrollbar-button{
    background:#C1C1C1;  
}

.search::-webkit-scrollbar-thumb{ 
    background:#C1C1C1; 
}

.dataTables_length,
.dataTables_filter,
.dataTables_info,
.dataTables_paginate {
    display: none;
}




/*-----------------------------------carrusel----------------------------*/
.carrusel1{
    position: relative;
    width: 100%;
    height: 25em;
    top:9.0em;
    z-index: 800;
}
.carousel-item img{
    width: 50em;
    height: 25em;
}

/*-------------------------Galeria----------------------------*/

/* este es el viejo 
.container.gallery-container {

    background-color: #fff;
    color: #35373a;
    height: 70em;
    min-height: 70em;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}*/
.container.gallery-container {
    position:relative;
    top:4.5em;
    background-color:#ffffff;
    color: #35373a;
    /*height: 70em;*/
    min-height: 58em;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 {
    padding-top:0.5em;
    text-align: center;
    margin-top: 2em;
    /*font-family: 'Droid Sans', sans-serif;*/
    font-weight: bold;
}
.gallery-container h5{
   /* font-family:emoji;*/  /*ANTES ERA sans-serif*/
    /*font-style: italic;*/
    color:black;
    text-align: center;
}
.gallery-container h4{
    /*font-family: sans-serif;*/
    /*font-style: italic;*/
    color:black;
    text-align: center;
}

.gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}

.tz-gallery {
    padding: 10px;
}

.tz-gallery .lightbox img {
    width: 100%;
    height:20em;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}



.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;

}

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}

.pagination a{
    color:  black
}

.SinStock{
    position:relative;
   width:6em;
   left:50%;
   transform:translateX(-50%);
/*     border-radius:1em; */
    border-style:solid;
    border-color:#BAB9B9;
    background-color:#f7ffc4;
  }


/*----------------------------productos individuales------------------------*/
.producto{ 
    width: 100%;
    height: 100%;
}
/*@supports(object-fit: cover){
    .producto{
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}*/
.ContProduc{
    position:relative;
    top:10em;
    background-color:#ffffff;
    color: #35373a;
    /*height: 70em;*/
    min-height: 45em;/*solia ser 70em*/
}
.ContProduc h1,h2,h3{
    text-align:center;
    /*font-family: fangsong;*/
}

.ConDeImags{
    position: relative;
    height:40em;
    overflow-y:scroll;
    scroll-behavior: smooth;
    z-index: 850;
    overflow-x: hidden;
/*    overflow-x:scroll;
    scroll-behavior: initial;*/

}
/*.ConDeImags::-webkit-scrollbar {
    -webkit-appearance: none;
}
.ConDeImags::-webkit-scrollbar:vertical {
    width:10px;
}
.ConDeImags::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}*/
.descripcionProd{
    text-align: left;
    margin-top:0.5em;

}
.PrecioProd{
    position:relative;
    margin-left:50%;
    transform:translateX(-50%);
    margin-top:1em;
    background-color:pink;
    border-radius:0.5em;
    width:12em;   
}
.PrecioProd2{
    width:20em;
    background-color:#f7ffc4;
    border-style: solid;
/*     border-color:black; */
    border-radius:0;
  

}
#divImagen{
    width:50%;
    height:40em;
    margin-bottom:1em;
}
#divDescripcion{
    position:absolute;
    left:50%;
    top:3em;
    width:50%;
    height:40em;
}
#divDescripcion h4{
        margin-right:1.6em;
}
#Envios{
    position:absolute;
    clip-path: polygon(100% 100%, 0 0, 0 100%);
    top:100%;
    transform:translateY(-100%);
    height:5em;
    width:100%;
/*     border: 1px solid black; */
    background-color:#f7ffc4;
    z-index: 850;
/*     border-radius:30px; */
}
/* #Envios h3{
    position:relative;
    top:100%;
    transform:translateY(-100%);
}
#Envios a{
        color:black;
} */
.botonCompra{
    position:relative;
    margin-left:50%;
    transform:translateX(-50%);
    margin-top:0.5em;
/*     background-color:pink; */
    border-radius:0.5em;
    border: 1px solid black;
    width:12em;
    z-index: 850;
}
.cantidad{
    position:relative;
    z-index: 850;
    margin-left:50%;
    transform:translateX(-50%);
    margin-top:2em;
    width:12em;
  }


/*-------------------------Quienes somos-----------------------------*/
/* .letras{
    font-family: ZonaPro,sans-serif;
} */
.QuienesSomos{
    position:relative;
    top:12.5em;
    background-color:#ffffff;
    color: #35373a;
    /*height: 70em;*/
    min-height: 38em;
    border-radius: 20px;
    text-align:center;
}
.QuienesSomos h3{
    margin-top: 1.5em;
}
/*------------------------Como Comprar----------------------------*/
.ComoComprarGalery{
    position:relative;
    top:12.5em;
    width:100% !important;
    background-color:#ffffff;
    color: #35373a;
    height: 85em;
/*     min-height: 75em; */
    border-radius: 20px;
}
.ComoComprarGalery h1{
    text-align: center;
}
.ComoComprarGalery h4
{
    margin-top:1em;
}
.ComoComprarGalery h2
{
    margin-top:1em;
} 
/*---------------------------Preguntas Frecuentes--------------*/
.PreguntasFrecuentes{
    position:relative;
    top:12.5em;
    width:100% !important;
    background-color:#ffffff;
    color: #35373a;
    height: 85em;
/*     min-height: 75em; */
    border-radius: 20px;
}
.PreguntasFrecuentes h1{
    text-align:center;
}
.PreguntasFrecuentes h3{
    margin-top:0.5em;
    text-align: left;
}
.PreguntasFrecuentes h2{
     margin-top:1.5em;
     font-weight: bold;
}
/*------------------------footer------------------------------*/

footer{
    position:relative;
    height:20em;
    width:100%!important;
    top:11em;/*top:5.1em;*/
    background-color:#cdfdfd;/*#09F8E1;*//*#ff0080 !important;/*color rosado*/
}
.context-dark, .bg-gray-dark, .bg-primary {
    color: black;
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: black;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: black;
}
.social-container .col {
    border: 1px solid black;
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: black;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}

.IconoRedSoc{
/*     margin-left:1em;
    margin-top:0.5em; */
    width: 2em;
    height: 2em;
}
#siganos{
    text-align:center;
    width:100%;
}
#siganos div{
    margin-top:1em;
    width:6em;
    display:inline-block;
    margin-bottom:0.5em;

}
.DerechosR{
    width:50%;
}
.ComoComprar{
    width:50%;
    text-align:center;
}

/*------------------------------------minicarrusel-----------------*/
.Minicarrusel{
    position:relative;
    top:10em;/*top:5em;*/
}
/* #LoNuevo{
    font-family: ui-monospace;
    font-style: oblique; 
} */
.DivImgCarrusel{
    position:relative; 
    text-align:center;

}
.imgMiniCarrusel{
    position:relative;
    height:15em;
    width:25%;
    display:inline-block;
    margin: 20px 20px 20px 20px;
    border: 1px solid black;
    border-radius:30px;
}
.ajustarImg{
    width: 100%!important;
    height: 100%!important;
    border-radius:30px;
}
.PreviousNext{
    color:black !important;
    opacity:1;
    background-color:black;
    width:3em;
    border-radius:10px;
    height:3em;
    top:50%;
    transform:translatey(-50%);
}
.imgMiniCarrusel h4{
    position: relative;
   margin-bottom: 1em;
    height: 2em;
}
.PrecProdCarr{
    height: 20%;
}

/*------------------------------------login-----------------*/

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
  }
  
  /* .login
   {
    min-height: 100vh; 
    height: 45em;
    margin-top:10em;
  } */
  
  
  .login-heading {
    font-weight: 300;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    border-radius: 2rem;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group>input,
  .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
    height: auto;
    border-radius: 2rem;
  }
  
  .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    cursor: text;
    /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group input::placeholder {
    color: transparent;
  }
  
  .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }
  
  .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }
  
  /* Fallback for Edge
  -------------------------------------------------- */
  
  @supports (-ms-ime-align: auto) {
    .form-label-group>label {
      display: none;
    }
    .form-label-group input::-ms-input-placeholder {
      color: #777;
    }
  }
  
  /* Fallback for IE
  -------------------------------------------------- */
  
  @media all and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
    .form-label-group>label {
      display: none;
    }
    .form-label-group input:-ms-input-placeholder {
      color: #777;
    }
  }

      /* --------------login-------------- */
      .login-contenedor{
        position:relative;
          height:50em;
          top:10em;
      }
      /* .login-subcontenedor{
          position:relative; 
          /bottom:10em;
      } */
    /* -----------mensajes---------------------- */
    .Cont-Mens-login{
        position:relative;
        height:40em;
        top:15em;
        text-align:center;
        }


        
/* --------------------------------------------Carrito-------------------------*/
.ImgCarrito{
    width: 100%;
    height: 100%;
}
.contenedorCarrito{
    position:relative;
    top:10em;
  }
.ProdAgregado{
    /* z-index: 999; */
    display: none;
    text-align: center;

}
.ProdAgotado{
    display: none;
    text-align: center;
}

#textCarrito{
  position:relative;
  top:4.5em;
  text-align:center;

}
#Comprar{
    position:relative;
    bottom:3.5em;
  }

 /* --------------------------------------------micuenta--------------------------------------- */
#FormNombre{
    display: none;
}
#FormApellido{
    display: none;
}
#FormCorreo{
    display: none;
}