/*-----------------------Escala para smartphons-----------------------*/

    @media (max-width: 750px){
/*     ---------producto individual--------- */

    .ContProduc{
        position:relative;
        top:10em;
        background-color:#ffffff;
        color: #35373a;
        min-height: 90em;
        margin-top:1em;
        width:100%;
        margin-bottom:2em;
    }
    .ContProduc h1{
        text-align:center;
    }
    .ConDeImags{
        position: relative;
        height:25em;
        width:90%;
        left:50%;
        transform:translateX(-50%);
        overflow-y:scroll;
        scroll-behavior: smooth;
        z-index: 850;


    }
    #divImagen{
        width:100%;
        height:100%;
    }
    #divDescripcion{
        position:relative;
        top:0%;
        width:100%;
        height:45em;
/*         left:50%; */
        transform:translateX(-50%);
    }
    .descripcionProd{
        position:relative;
        text-align: center;
        margin-top:2em;
        left:5%;
    }
    .PrecioProd{
        position:relative;
        margin-top:2em;
        background-color:pink;
        border-radius:0.5em;
        width:6em;   
    }
    .PrecioProd2{
        width:15em;
        background-color:#f7ffc4;
        border-style: solid;
    /*     border-color:black; */
        border-radius:0;


}


    #divDescripcion h4{
          margin-right:1.6em;
    }
/*     ----------menu-------------- */
    header{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 900;

    }

    .franja{
        width: 100%;
        height: 1em;
        background-color:black;
        color:white;
        text-align: center;
    }
    .franja h2{
        /*font-family: system-ui;    */
        width: 100%;
        font-size:0.75em;
    }
    .Home{
        position: flex;
        float: right;
        
        margin-right:0em;
        height:6em;
    
    }
    .Home img{
        position:relative;
        top:50%;
        transform: translateY(-50%);
        width:1.5em;
        height:1.5em;
        margin-right:0.3em;
    }
    .text-white{
        color:#000002!important;
    }
    #menu{
        height:1.5em;
        width:1.5em;
    }
    .navbar-toggler-icon{
        color:#f7ffc4!important;
        height:1.5em!important;
        width:1.5em!important;
        position:relative;
        right:315%;
        top:-20%
    }
    .bg-dark {
        background-color: #f7ffc4!important;
    }
    .ImgHeader
    {
        position: relative;
        height:4.5em ;
        width:6em;
        left:1em;
    /*     right: 50%;
        transform: translate(50%) */
    }
    .menu{
        /*visibility: hidden;*/
        display: none;
        width:fit-content;
    }
    .inputBuscar{
        position:flex;
        float:right;
        display:none;
    }
    .header-top{
        position:relative;
        top:-2em;
        width: 100%;
        background-color: #f7ffc4;
        float:right;
        display: none;
    }
    .cerrarSesion{
        margin-right:0.1em;
      
  
/* ---------buscar------- */

    .search{
        position:relative;
        top:-2em;
        left:20%;
        width: 60%;
        max-width: 1000px;
        margin: auto;
        background: #fff;
        padding:0 10px;
        padding-bottom: 5px;
        max-height: 85%;
        overflow-x: hidden;
        display: none;

    }
/*     ------minicarrusel------ */
    .Minicarrusel{
        position:relative;
        top:0em;/*top:5em;*/
        width:100%;
        height:40em;
    }
    .imgMiniCarrusel{
        position:relative;
        height:9em;
        width:70%;
        display:inline-block;
        border: 1px solid black;
        border-radius:30px;
        text-align:center;
    }
    .BotonesDesplazaCarrusel{
        display:none;
    }
    .ajustarImg{
        width: 100%!important;
        height: 100%!important;
        border-radius:30px;
    }
    .PreviousNext{
        display:none;
    }
    .imgMiniCarrusel h4{
       position: relative;
       margin-top:0.5em;
       margin-bottom:0;
       font-size:1em;
       width:100%;
    }
    .imgMiniCarrusel h5{
        position: relative;
        font-size:1em;       
        width:100%;
    }
/*     -----foooter---- */
    footer{
        position:relative;
        height:15em;
        width:100%!important;
        top:11em;/*top:5.1em;*/
        background-color:#cdfdfd;/*#09F8E1;*//*#ff0080 !important;/*color rosado*/
    }
    #siganos{
        text-align:center;
        width:100%;
    }
    #siganos div{
        margin-top:1em;
        width:6em;
        display:inline-block;
        margin-bottom:0.5em;

    }
    .ComoComprar h5{
       font-size:1em;
    }
    .rights{
       font-size:0.8em;        
    }

}

/* ------------------------galeria------------- */
.container.gallery-container {
    max-width:70em;
}


