.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40%;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:900;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}

/*-----------------------Escala para smartphons-----------------------*/

    @media screen and (max-width: 750px){
    	.float{
    		top:15em;
			width:40px;
			height:40px;
			bottom:40%;
			right:40px;    		
    	}
    	.float i{
			position:relative;
			transform: translateY(-35%);
}
    	
    }